


<input type="checkbox" name="" id="menu_check">
<label for="menu_check" class="hb_cover"></label>

<header class="main_menu">

    

    <div class="hcontainer">
        
        <a href="#" class="logo">
            <img src="img/header/logo.png" alt="logo-sm.png loss">
        </a>
        <a href="#" class="head_title"><h1>怪奇動物園</h1></a>
        

        <nav class="menu_nav">
            <ul class="menu_list">
                <li>
                    <a href="modify.html" class="menu_icon"><img src="img/header/hicon_koala.png" alt=""></a>
                    <a href="modify.html" class="text now">動物改造</a>
                </li>
                <li>
                    <a href="game.html" class="menu_icon"><img src="img/header/hicon_lion.png" alt=""></a>
                    <a href="game.html" class="text">生存遊戲</a>
                </li>
                <li>
                    <a href="frank.html" class="menu_icon"><img src="img/header/hicon_tiger.png" alt=""></a>
                    <a href="frank.html" class="text">怪奇排行</a>
                </li>
                <li>
                    <a href="shop.html" class="menu_icon"><img src="img/header/hicon_sloth.png" alt=""></a>
                    <a href="shop.html" class="text">動物商城</a>
                </li>
                <li>
                    <a href="resv.html" class="menu_icon"><img src="img/header/hicon_elephant.png" alt=""></a>
                    <a href="resv.html" class="text">預約導覽</a>
                </li>
            </ul>

            <ul class="member_box">
                <li>
                    <!-- <p>歡迎董董</p> -->
                </li>
                <li>
                    <a href="member.html" class="member_icon"><img src="img/header/icon_member.png" alt=""></a>
                    <a href="member.html" class="text">登入會員</a>
                </li>
                <li>
                    <a href="#" class="member_icon"><img src="img/header/icon_cart.png" alt=""></a>
                    <a href="#" class="text">看購物車</a>
                </li>
            </ul>

        </nav>

        <label for="menu_check" class="hb">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <div class="bar4"></div>
        </label>
    </div>

</header>




