*{
    outline: 1px solid red;
}

.resv_body{
    font-family: "Microsoft JhengHei", "Helvetica", "sans-serif";
    background-color: #ceedeb;
    background-image: url(../img/resv/resv_bg.png);
    background-repeat: no-repeat;
    position: relative;

    .container{
        display: flex;
        margin: auto;
        max-width: 1200px;
        padding: 10px;
        box-sizing: border-box;
    }
}
.resv_banner{
    padding: 15% 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    h1{
        margin: auto;
        font-size: $h1_fz;
        z-index: 10;
    }
    .cloudtop{
        position: absolute;
        top: 13.09%;
        left: -3.42%;
    }
    .title_cloud{
        position: absolute;
        top: 39.09%;
        left: 0%;
        right: 0%;
        margin: auto;
        z-index: -1;
    }
    .cloud_topright{
        position: absolute;
        top: 7%;
        right: 0;
    }
    .cloud_train{
        position: absolute;
        top: 60%;
        left: 11%;
    }
    .cloud_center{
        position: absolute;
        top: 10%;
        left: 24.5%;
    }

    .cloud_animal{
        position: absolute;
        top: 46%;
        left: 69%;
    }
    .cloud_buttom{
        position: absolute;
        top: 24%;
        right: 10%;
    }
    .resv_train{
        position: absolute;
        top: 32%;
        left: -4%;
    }
    .rhinoceros{
        position: absolute;
        top: 38%;
        left: 70%;
    }

}  
.resv_info{
    width: 100%;
}
.container{
    .resv_calendargroup{
        .resv_calendar{
            background-image: url("../img/resv/calendar_bg.png");
            z-index: 2;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border: 1px solid #ccc;
            height: 580px;
            padding:220px  0 40px;
            box-sizing: border-box;
            // position: relative;
            .calendarbox{
                // position: absolute;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -25%);
                // border: 1px solid #ccc;
                width: 80%;
                margin: auto;
                background:#f0e4ba;
                border-radius: 20px;
                .calendar_title{
                    text-align: center;
                    color: #776f6f;
                    padding-bottom: 2%;
                    box-sizing: border-box;
                    font-size: $h1_fz;
                    .fa-chevron-left {
                        &:before{
                            content: "\f053";
                        }
                    }
                    .fa-chevron-right {
                        &:before{
                            content: "\f054";
                        }
                    }
                }
                .week_group{
                    font-size: $m_fz;
                    font-weight: bold;
                    color:$col_brown;
                    ul{
                        display: flex;
                        justify-content: center;
                        li{
                            width: 14.2%;
                            height: 36px;
                            line-height: 36px;
                            font-size: 18px;
                            list-style-type: none;
                            display: block;
                            box-sizing: border-box;
                            text-align: center;
                            border-bottom: 1px solid #ab8450;
                            cursor: pointer;
                        }
                    }
                }
                .day_group{
                    font-size: $m_fz;
                    font-weight: bold;
                    color:$col_brown;
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        li{
                            width: 14.2%;
                            height: 36px;
                            line-height: 36px;
                            font-size: 18px;
                            list-style-type: none;
                            display: block;
                            box-sizing: border-box;
                            text-align: center;
                            border: 1px solid #ab8450;
                            cursor: pointer;
                        }
                        .unaviable{
                            background: #a8a6a6;
                            border-radius: 10px;
                            border: 1px solid #a8a6a6;
                        }
                        .full_booked{
                            background: #f19149;
                            border-radius: 10px;
                            border: 1px solid #f19149;
                        }
                    }
                }
            }
            .calendar_text{
                display: flex;
                width: 80%;
                margin: auto;
                font-size: 0px;
                li{
                    display: inline-block;
                    font-size: $s_fz;
                    padding: 5px;
                    // width: 5%;
                }
                .unaviable{
                    background-color: #a8a6a6;
                    border-radius: 20px;
                    margin-left: 10px;
                }
                .full_booked{
                    background-color: #f19149;
                    border-radius: 20px;
                    margin-left: 10px;
                }
            }
        }
    }
    .resv_form{
        position: relative;
        margin: 70px 6.67%;
        border: 1px solid #d1c0a5;
        border-radius: 40px;
        background-color: #f3edcb;
        padding: 4.16%;
        box-sizing: border-box;
        // height: 470px;
        border-width: 4.43px;
        .show_data{
            border: 4.3px solid #d1c0a5;
            border-radius: 20px;
            box-sizing: border-box;
            background: #e89e4d;
            display: inline-block;
            width: 100%;
            padding: 4.16%;
            .show_datatime, .show_datanum{
                margin-left: 10px;
            }
        }
        .wooden{
            position: absolute;
            top: -12%;
            right: -6%;
        }
        .resvform_title{
            padding: 2.35%;
            margin-bottom: 6.2%;;
            line-height: 2;
        }
        .resvform_users{
            margin: auto;
            line-height: 2.5;
            padding-left: 7%;
            label{
                margin-right: 2.83%;
            }
            span{
                font-size: $xs_fz;
                color: #c92626;
                font-weight: bold;
            }
        }
        .resv_submit{
            margin-top: 5.83%;
            @include btn_cloud (100px,$col_btn_pink);
            .btn_cloud{
                float: right;
            }
            // input{
            //     border: 1px solid #e2999a;
            //     width: 80px;
            //     height: 40px;
            //     background-color: #e2999a;
            //     border-radius: 40px;
            //     margin: 0 5.83%;
            // }
        }
    }
}
.entrances{
        margin-top: 80px;
        box-sizing: border-box;
        position: relative;
        border: 1px solid #000;
        width: 100%;
    .train_animal{
        position: absolute;
        right: 28%;
        bottom: 0;
    }
    .gate{
        position: absolute;
        right: 2%;
        bottom: 0%;
    }
}
@media screen and (max-width: 767px){
    .resv_banner{
        .cloudtop,.cloud_topright,.cloud_train,.cloud_center,.rhinoceros,.cloud_animal,.cloud_buttom{
            width: 15%;
        }
        .title_cloud{
            width: 30%;
        }
        .resv_train{
            width: 10%;
        }
        .cloud_buttom {
            position: absolute;
            top: 66%;
            right: -7%;
        }
    }
.resv_info{
   .container{
        display: flex;
        flex-wrap: wrap;
        .resv_calendargroup{
            .resv_calendar{
                width: 100%;
            }
            .resv_desc{
                width: 80%;
                margin: auto;
                p{
                    font-size: $s_fz ;
                    line-height: $lh;
                    padding-top: 15px;
                }
            }
        }
        .resv_form{
            width: 100%;
            .wooden{
                position: absolute;
                top: -15%;
                right: -8%;
            }
            .resv_submit{
                text-align: center;
                .btn_cloud{
                    float: none;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
    .entrances{
        .train_animal,.gate{
            width: 20%;
        }
    }
    
}
 
}

@media screen and (min-width: 768px) {
    .resv_banner{
        .resv_train{
            width: 13%;
        }
    }
    .resv_body{
    .container{
        display: flex;
        margin: auto;
        .resv_calendargroup{
            width: 50%;
            .resv_desc p{
                font-size: $xs_fz ;
                line-height: $lh;
            }
        }
        .resv_form{
            width: 50%;
        }
    }
}
}
